<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- <link rel="shorcut icon" href="app/views/default/images/pan.png" /> -->
<link rel="stylesheet" type="text/css" href="app/views/default/css/estilo.css" />
<link type="text/css" rel="stylesheet" rev="stylesheet" href="app/views/default/javascript/jquery/jquery-ui.css" />
<link type="text/css" rel="stylesheet" rev="stylesheet" href="app/views/default/css/jquery.dataTables.css" />
<!--<link type="text/css" rel="stylesheet" rev="stylesheet" href="app/views/default/css/bootstrap.min.css" />-->
<link rel="stylesheet" href="app/views/default/css/bootstrap.min.css" type="text/css" media="all">
<!--<link rel="stylesheet" type="text/css" href="app/views/default/css/normalize.css" />-->
<!--<link rel="stylesheet" type="text/css" href="app/views/default/css/demo.css" />-->
<link rel="stylesheet" type="text/css" href="app/views/default/css/icons.css" />
<link rel="stylesheet" href="app/views/default/css/font-awesome.min.css"/>

<!--<script src="app/views/default/javascript/modernizr.custom.js"></script>-->

<!--<script src="app/views/default/javascript/index.js"></script>-->
<!--<script src="app/views/default/javascript/jquery/jquery.popmenu.js"></script>-->



<link href="app/views/default/cs/bootstrap.min.css" rel="stylesheet">

<meta http-equiv="content-type" content="text/html" />
<link rel="stylesheet" type="text/css" href="app/views/default/cs/bootstrap.css"/>
<link rel="stylesheet" href="app/views/default/cs/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" href="app/views/default/cs/jquery.bootgrid.css"/>
<link rel="stylesheet" href="app/views/default/cs/font-awesome.min.css">
