<script language="javascript" src="app/views/default/javascript/jquery/external/jquery/jquery.js"></script>
<script language="javascript" src="app/views/default/javascript/jquery/jquery-ui.js"></script>
<script language="javascript" src="app/views/default/javascript/jquery.form.js"></script>
<script language="javascript" type="text/javascript" src="app/views/default/javascript/misfunciones.js"></script>
<script language="javascript" src="app/views/default/javascript/jquery.dataTables.min.js"></script>
<script language="javascript" src="app/views/default/javascript/jquery.numeric.js"></script>

<!-- aqui iran lo que se nececsita para bootstrap-->
<script src="app/views/default/js/bootstrap.min.js"></script>
<script src="app/views/default/js/jquery.bootgrid.min.js"></script>
<script src="app/views/default/js/bootstrap-datepicker.js"></script>

<script src="app/views/default/js/sweetalert.min.js"></script>
