#conte
{
	background-color: #dcdcdc;
	width: 40%;
	height: 25%;
}
.left
{
	float: left;
	width: 40%;
	border: 1px solid White;
}
.center
{
	float: left;
	width: auto;
	height: auto;
}
.right
{
	float: right;
	height: auto;
	right: auto;
}
