#cabezera
{
        background-color: #000000;
        height: 5%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
}
#arriba2
{
        background-color: #000000;
        height: 5%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
}
#canvas
{
	background-color: #BDBDBD;
        text-align: center;
        padding-top: 0px;

}

#baner
{
	background-color: #424242;
	height: 16%;
        width: 80%;
        padding-top: 1px;
        margin-left: auto;
        margin-right: auto;
}

#cuerpo
{
	background-color: #DF0101;
	height: 100%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

}

#img1
{
       float: left;
       width: 30%;
       height: 30%;
       background-color: #DF0101;
       margin-top: 5%;
       margin-left: 3%;
       margin-right: 2%;

}

#img2
{
       float: left;
       width: 30%;
       height: 30%;
       background-color: #DF0101;
       margin-top: 5%;
}

#img3
{
       float: left;
       width: 30%;
       height: 30%;
       background-color: #DF0101;
       margin-top: 5%;
       margin-left: 2%;
       margin-right: 3%;
}

#img4
{
       float: left;
       width: 30%;
       height: 30%;
       background-color: #DF0101;
       margin-top: 5%;
       margin-left: 3%;
       margin-right: 2%;

}

#img5
{
       float: left;
       width: 30%;
       height: 30%;
       background-color: #DF0101;
       margin-top: 5%;
}

#img6
{
       float: left;
       width: 30%;
       height: 30%;
       background-color: #DF0101;
       margin-top: 5%;
       margin-left: 2%;
       margin-right: 3%;
}
